body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("../images/background.png");
    padding: 20px; /* Add padding */
}

#foreground {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ecebe9;
    border: 3px solid #bf0a18;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Align children vertically */
}

header {
    background-color: #bf0a18;
    color: #ecebe9;
    text-align: center;
    padding: 0px 0;
}

#double-section {
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 70%;
    margin: 20px;
    flex: 1; /* Allow content to grow */
}

.quick-content {
    max-width: 20%; /* Adjust the width */
    border: 3px solid #bf0a18;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    margin: 10px;
    text-align: center;
    align-self: flex-end; /* Align quick-content to the end */
}

.quick-content img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.quick-content h2 {
    background-color: #bf0a18;
    color: #ecebe9;
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
}