body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
  
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px; /* Adjust this value according to the width of your sidebar */
  }
  
  .content {
    flex: 1;
    /* padding: 10px; Adjust padding */
    margin-right: 20px; /* Add margin to push content away from the sidebar */
    margin-bottom: 350px; /* Adjust margin to move content up */
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    width: 200px; /* Adjust the width as needed */
    padding: 10px; /* Adjust padding */
    margin-top: 10px; /* Adjust margin to move image up */
    margin-right: 10px;
    margin-left: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  }
  
  .image p {
    text-align: center; /* Center the caption */
    padding: 10px; /* Same padding as the image */
    margin-top: 10px; /* Same margin as the image */
    margin-right: 10px; /* Same margin as the image */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Same drop shadow as the image */
  }