body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
  
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px; /* Adjust this value according to the width of your sidebar */
  }
  
  .content {
    flex: 1;
    /* padding: 10px; Adjust padding */
    margin-right: 20px; /* Add margin to push content away from the sidebar */
    margin-bottom: 350px; /* Adjust margin to move content up */
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    width: 200px; /* Adjust the width as needed */
    padding: 10px; /* Adjust padding */
    margin-top: 10px; /* Adjust margin to move image up */
    margin-right: 10px;
    margin-left: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add drop shadow */
  }
  
  .image p {
    text-align: center; /* Center the caption */
    padding: 10px; /* Same padding as the image */
    margin-top: 10px; /* Same margin as the image */
    margin-right: 10px; /* Same margin as the image */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Same drop shadow as the image */
  }
  



  /* Sidebar css */




.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    left: -250px; /* Initially hide the sidebar */
    top: 0;
    bottom: 0;
    transition: left 0.3s; /* Add transition effect */
}

.sidebar-trigger {
    width: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* Ensure the trigger area is on top */
}

.sidebar-trigger:hover + .sidebar,
.sidebar:hover {
    left: 0; /* Display sidebar when hovering over the trigger area or sidebar */
}

.search-form {
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    width: 40%; /* Adjust the width to make the search bar smaller */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    width: 25%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

.home-link {
    display: block;
    padding: 8px 0;
    color: #333;
    text-decoration: none;
}

.home-link:hover {
    background-color: #e6e6e6;
}
