/* Colors
    Platinum       ecebe9    rgba(236, 235, 233, 1)
    Gunmetal       2d3137    rgba(45, 49, 55, 1)
    Cornell Red    bf0a18    rgba(191, 10, 24, 1)
    Goldenrod      D5A022    rgba(213, 160, 34, 1)
    Crayola Blue   0275f2    rgba(2, 117, 242, 1) */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background: url("../images/background.png") repeat;
        padding: 0px;
        padding-bottom: 0px;
        
    }
    
    #foreground {
        max-width: 1400px;
        margin: 0 auto;
        border: 3px solid #bf0a18;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    }

    #foreground a {
        color: #0275f2;
    }
    
    header {
        background-color: #bf0a18; /* Use Cornell Red for the header background */
        color: #ecebe9; /* Use Platinum for the text color */
        text-align: center;
        padding: 20px 0;
    }
    
    table {
        width: 100%; /* Set the table width to 100% */
        border-collapse: collapse;
        background-color: #ecebe9; /* Use Platinum for the table background */
    }
    
    th, td {
        border: 1px solid #bf0a18; /* Use Cornell Red for borders */
        padding: 8px;
        text-align: center;
    }
    
    th {
        background-color: #2d3137; /* Use Gunmetal for the table header background */
        color: #ecebe9; /* Use Platinum for the table header text color */
    }
    
    body img {
        max-height: 250px;
        width: auto;
        display: block; /* Ensure images are displayed as blocks */
        margin: 0 auto; /* Center images horizontally within their containers */
    }