/* Colors
    Platinum       ecebe9    rgba(236, 235, 233, 1)
    Gunmetal       2d3137    rgba(45, 49, 55, 1)
    Cornell Red    bf0a18    rgba(191, 10, 24, 1)
    Goldenrod      D5A022    rgba(213, 160, 34, 1)
    Crayola Blue   0275f2    rgba(2, 117, 242, 1) */
.sidebar {
    width: 130px; /* Initial width of the sidebar */
    background-color: #2d3137; /* Platinum background */
    color: #ecebe9; /* Gunmetal text color */
    padding: 20px;
    border: 3px solid #D5A022; /* Cornell Red border */
    border-radius: 8px; /* Border radius to match main content */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5); /* Shadow for depth */
    position: fixed;
    left: -250px; /* Initially hide the sidebar */
    top: 50%; /* Center the sidebar vertically */
    transform: translateY(-50%); /* Adjust for vertical centering */
    transition: left 0.3s; /* Transition effect for smooth movement */
    height: 70vh; /* Set height to 70% of viewport height */
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Center items horizontally */
    justify-content: flex-start; /* Center items vertically */
}

.sidebar-trigger {
    width: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* Ensure trigger area is on top */
}

.sidebar-trigger:hover + .sidebar,
.sidebar:hover {
    left: 10px; /* Display sidebar on hover */
}

.search-form {
    margin-bottom: 20px;
    display: flex;
    align-items: center; /* Center items vertically */
}

.search-form input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #000;
    border-right: none;
    border-radius: 5px 0 0 5px; /* Rounded corners on left */
}

.search-form button {
    width: 34px; /* Square button */
    height: 33px;
    padding: 0;
    border: 1px solid #000;
    border-left: none;
    border-radius: 0 5px 5px 0; /* Rounded corners on right */
    background-color: #bf0a18; /* Yellow background */
    background-image: url("../images/search-icon.png"); /* Add search icon */
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #ecebe9; /* background on hover */
}

.page-link {
    display: flex;
    align-items: center; /* Center items vertically */
    padding: 8px 0;
    color: #ecebe9;
    text-decoration: none;
    text-align: left; /* Align text to left */
}

.page-link img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.sidebar-botImage {
    position: absolute; /* Position image absolutely */
    bottom: 5px; /* Distance from bottom */
    max-height: 210px;
    width: auto;
}