<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Category Template</title>
    <link rel="stylesheet" href="../css/categoryTemplate.css">\
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="jquery.js"></script>
    <script>
        $(function(){
            $("#sidebarContainer").load("sidebarTemplate.html"); 
        });
    </script>
</head>
<body>
    <header>
        <h1>My Wiki Page</h1>
    </header>

    <!-- Sidebar will be loaded here -->
    <div id="sidebarContainer"></div>

    <table>
        <tr>
            <th>Section</th>
            <th>Content</th>
        </tr>
        <tr>
            <td id="section1">Section 1</td>
            <td>This is the content of section 1.</td>
        </tr>
        <tr>
            <td id="section2">Section 2</td>
            <td>This is the content of section 2.</td>
        </tr>
        <tr>
            <td id="section3">Section 3</td>
            <td>This is the content of section 3.</td>
        </tr>
    </table>
</body>
</html>
