<footer>
    <link rel="stylesheet" href="../css/footer.css">
    <div class="page-bottom">
        <!-- Back to top button -->
        <button onclick="scrollToTop()" id="backToTopBtn" title="Go to top">Back to Top</button>
        
        <!-- List of links to additional One Piece content -->
        <div class="one-piece-links">
            <div class="column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="characters.html">Characters</a></li>
                    <li><a href="fruits.html">Devil Fruits</a></li>
                    <li><a href="organizations.html">Organizations</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>Explore More One Piece Content</h3>
                <ul>
                    <li><a href="https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fplanetfall-a-painting-v0-zr1adlxmcasc1.jpeg%3Fwidth%3D1080%26crop%3Dsmart%26auto%3Dwebp%26s%3Dd9cb7a68d8ace61471b616bee67747f19a459f57">Cool Art</a></li>
                    <li><a href="https://www.reddit.com/r/OnePiece/">Official Reddit</a></li>
                    <li><a href="https://www.facebook.com/onepieceofficial/">Official Facebook</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>Real One Piece Wiki</h3>
                <ul>
                    <li><a href="https://onepiece.fandom.com/wiki/One_Piece_Wiki">One Piece Wiki</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>